*{
  padding: 0;
  margin: 0;
}


.user {
  color: red;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: red;
}


.user_name{
  background-color: red;
  border: 1px solid black;
  padding: 10px;
}

.container_class{
  background-color: yellow !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2{
  color: green;
}