* {
  padding: 0;
  margin: 0;
}

.main_container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: red; */
  /* height: 100vh; */
}

.container1 {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: red;
}

.container2 {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: #d9766f;
}

.container3 {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: rgb(94, 199, 94);
}

.container4 {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: rgba(94, 199, 94, 0.5);
}

.container5 {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background: linear-gradient(to left, red, yellow);
}

.container6 {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: gray;
  box-shadow: -10px -10px 30px rgb(158, 142, 142);
}


.container_margin{
 height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 10px;

}

.child{
  background-color: red;
  height: 100%;
  width: 50%;
}

.margine_learning{
  /* margin: 15px; */
  margin-bottom: 15px;
}