body {
  padding: 0;
  margin: 0;
}

.container_1 {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.view_all_btn {
  padding: 10px 20px;
  background-color: #2874f0;
  border: none;
  color: white;
  cursor: pointer;
}

.heading {
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
