.containere_1 {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /* row-gap: 10px;
  column-gap: 10px; */
  gap: 10px;
}

.containere_1_child {
  border: 1px solid black;
  height: 50px;
  /* width: 50px; */
}
