* {
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.header_container {
  background-color: #2874f0;
  max-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header_content_wraper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo_img {
  /* width: 100px; */
  height: 56px;
}

.search_input_container {
  background-color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.search_input {
  outline: none;
  width: 375px;
  border: none;
}
.shoping_cart_icon {
  fill: #ffffff !important;
}
.login_btn {
  padding: 5px 40px;
  background-color: white;
  color: #2874f0;
  font-weight: 600;
  border: none;
}
.material-symbols-outlined {
  color: white;
}
.cart_div {
  display: flex;
  align-items: center;
  gap: 10px;
}
